<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes" /> 
<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
<title>见证好营养 一起好吸收</title> 
<link rel="stylesheet" href="css/hsai.css" /> 
<link rel="stylesheet" href="http://y2.ifengimg.com/package/t_20141209__22585/css/idangerous.swiper.css" /> 
<script src="http://p1.ifengimg.com/l/2016/47/92febf6a0cb3e9a/jquery-1.8.3.min.js"></script> 
<script type="text/javascript" src="http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/angular.min.js"></script> 
<script>
(function(doc, win) {
			var docEl = doc.documentElement,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
			recalc = function() { 
				var clientWidth = docEl.clientWidth;
				if (!clientWidth) return;
				//docEl.style.fontSize = 50 * (clientWidth / 320) + 'px';
				docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
			};
			if (!doc.addEventListener) return;
			win.addEventListener(resizeEvt, recalc, false);
			doc.addEventListener('DOMContentLoaded', recalc, false);

		})(document, window);</script>
    </head>
<body>
<div class="main" ng-app="myApp"> 
 <!-- 分享指示页 -->
 <div class="fxy"></div>
 <!-- 输入信息 --> 
 <div class="xinx"> 
  <div class="xinx_warp"> 
   <a href="javascript:;" class="xinx_colse"></a> 
   <div class="xinx_01"> 
    <label> <span>昵称</span> <input type="text" value="" id="nickname1" /> </label> 
    <label> <span>手机</span> <input type="text" value="" id="iphone" maxlength="11" /> </label> 
    
    <a href="javascript:;" class="xinx_sub"></a> 
   </div> 
  </div> 
 </div> 
  <ul ng-contorller="myCtrl"> 
    <li class="p1" style="top: 0px;z-index: 3;background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/p1_bg.jpg) no-repeat 0 0/100%;"> 
     <div class="box"> 
      <img src="http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/p1_txt1.png" alt="" class="p1_txt1" /> 
      <img src="http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/p1_txt2.png" alt="" class="p1_txt2" /> 
     </div> </li> 
    <li class="p2" style="background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/p2_bg.jpg) no-repeat 0 0/100%;"> 
     <div class="p2_content"> 
      <div class="hb1 odom curr" data-num="mb1"> 
       <div class="mban"></div> 
       <img src="http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/hb1.jpg" alt="" /> 
       <span class="turr" mb="1">已选中</span> 
      </div> 
      <div class="hb2 odom" data-num="mb2"> 
       <div class="mban"></div> 
       <img src="http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/hb2.jpg" alt="" /> 
       <span mb="2">已选中</span> 
      </div> 
      <a href="javascript:;" class="ok"></a> 
     </div> 
   </li> 
    <li class="p3 block" style="background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/p3_bg.jpg) no-repeat 0 0/100% 100%;"> 
     <div class="p3_content"> 
      <label> <span>昵称</span> <input type="text" id="name" value="" ng-model="msg_Te.msg_name" /> </label> 
      <label> <span>手机</span> <input type="text" id="phone" value="" maxlength="11" /> </label> 
     
      <div class="blu"> 
       <span class="myPt">我的照片</span> 
       <div class="add-list"> 
        <!-- <div class="item">
  							<img src="images/l.jpg" alt=""/>
  						</div> --> 
        <div class="loding"> 
         <img src="http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/logo.png" alt="" class="lod_logo" /> 
        </div> 
        <div class="item2" id="item1"></div>
        <div class="item add">
         <input id="add-img" type="file" /> 
        </div> 
       </div> 
      </div> 
      <div class="blu"> 
       <span class="myPt">我的证言</span> 
       <div class="testimony"> 
        <textarea name="" id="textare" ng-model="msg_Te.msg_text" onfocus="if(this.value=='请保持在24个字以内') {this.value='';}" onblur="if(this.value=='') {this.value='请保持在24个字以内';}" maxlength="24"></textarea> 
       </div> 
      </div> 
      <a href="javascript:;" class="sc_phto"></a> 
      <input class="makepic" type="button" hidden="hidden" /> 
     </div> 
   </li> 
    <!-- 生成的海报 --> 
    <li class="p4" style="background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/p4_bg.jpg) no-repeat 0 0/100% 100%;"> 
     <div class="p4_top"> 
      <h3 class="name">{{msg_Te.msg_name}}</h3> 
      <p class="num" id="dnum">101</p> 
     </div> 
     <div class="p4_content"> 
      <img src="http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/ddd.png"class="dddd" /> 
      <div class="p4_left"> 
        <img src="" alt="" class="frame_pic" /> 
      </div>
      <div class="p4_right"> 
       <a href="javascript:;" class="fx"></a> 
       <a href="javascript:;" class="cj"></a> 
      </div> 
     </div> 
   </li> 
    <!-- 模板层 --> 
    <li class="p5" id="canv" style="background-color: #006dff;"> 
      <img src="" alt="" class="p5_mb" /> 
     <!-- picture 头像 --> 
     <img src="" alt="" class="picture" /> 
     <div class="p5_txt"> 
      <p class="txt_top">11</p> 
      <p class="txt_name"><i>22</i></p> 
      <p class="lw_name">33</p>
     </div>
   </li>
    <li class="p6_1" style="z-index:999;background-color:#262932;"> 
     <div class="box"> 
      <div id="page2" class="page page2" style="height: 667px; width: 375px;"> 
       <div class="loadword"> 
        <img class="translate" src="http://p1.ifengimg.com/ifengimcp/pic/20160918/5251f25c66065c55175f_size8_w750_h127.png" /> 
        <p>正在努力生成中...</p> 
       </div> 
      </div> 
     </div> 
    </li>
    <div class="but" style="display:block;"> 
     <span class="gz"></span> 
     <span class="zc clo_b"></span> 
     <span class="dz clo_b"></span> 
     <span class="hb clo_b"></span> 
    </div> 
  </ul> 
</div> 

<script type="text/javascript" src="http://p1.ifengimg.com/a/2016/0918/html2canvas.js"></script> 
<script type="text/javascript" src="js/up_img.js"></script>
<script type="text/javascript" src="js/turnplate.js"></script>
<script type="text/javascript" src="http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/base64.js"></script> 
<script>
  var app=angular.module('myApp',[]);
	app.controller('myCtrl',function  ($scope) {
		var msg_Te={};
			msg_Te.msg_name='';
			msg_Te.msg_text='';
			$scope.msg_Te=msg_name;
			$scope.msg_Te=msg_text;
	})
	var oHash = window.location.hash;
	if(oHash){
		var arr2 = oHash.split('=');
		var oHash_num = arr2[1];
		console.log(oHash_num)
		if(oHash_num=='ok'){
			$(".fxy").fadeIn();
		}
	}
$(function(){
		$('#textare').val('请保持在24个字以内');

    function print(){
      var w = $("#canv").width();
      var h = $("#canv").height();
      //要将 canvas 的宽高设置成容器宽高的 1 倍
      var canvas = document.createElement("canvas");
      canvas.width = w * 1;
      canvas.height = h * 1;
      canvas.style.width = w + "px";
      canvas.style.height = h + "px";
      var context = canvas.getContext("2d");
      context.scale(1,1);
       alert('1')
      html2canvas($("#canv"),{
        allowTaint: true,
        taintTest: false,
        canvas : canvas,
        onrendered: function(canvas){
            alert('15:00');
            var dataUrl = canvas.toDataURL();
            alert('ok');
            $('.frame_pic').attr('src',dataUrl);
            $('.p4').css('display','block');
            $('.p6_1').hide();
        }
      });
    };

	 var height = $(window).height();
	 var width = $(window).width();
		var windw = $(window).width();
		var windh = document.documentElement.clientHeight;
		var Animate_Index = 0;
		$('.main').height(windh);
		document.body.addEventListener('touchmove', function (event) {event.preventDefault();}, false);
		var ch=document.documentElement.clientHeight;
    var iOwk=0;
		// 生成海报
		$('a.sc_phto').click(function  () {
			/*var blog=$('#textare').val();
			var a=$('#textare').val(); //证言
			var oName=$('#name').val();
			oName = $.trim(oName);
			var phone=$("#phone").val();
			var param = /^((13|15)|18|14|17)\d{9}$/;
      
      iOwk=1;
      // setCookie('fenxiang_na',oName);
      // setCookie('fenxiang_ph',phone);
			if(!oName){
				alert("请输入昵称");
				return false;
			}

			if(!phone || !param.test(phone)){
				alert('请填写正确手机号');
				return false;
			}

			if($('#add-img').val() == ''){
				alert("请上传你的靓照");
				return false;
			}
			if(blog=='请保持在24个字以内'){
				alert("请输入你的证言");
				return false;
			}*/
			$('.p5').css('display','block');
			$('.p6_1').css('display','block');
			print();
			$('.p5').css('display','none');
		})

 
})
  </script></body></html>