body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,  
dl, dt, dd, ul, ol, li, th, td, div, span, img,  
fieldset,button, input,table,tr,td{ margin: 0; padding: 0;}
li{ list-style: none;}
img{border:none; outline:none; }
a{ text-decoration: none;}
input, textarea {outline: none;}
.clearfix:after {visibility: hidden; display: block;font-size: 0;content: " "; clear: both;height: 0; }
body,html{font-family:'Microsoft Yahei';font-size: 14px;width:100%;height:100%;background:#00398b;}
.index-arrow-down{
  background:url(http://p3.ifengimg.com/968d479714a706e2/2017/13/up.png) no-repeat;
  background-size: 100% 100%;
  width: 47px;
  height: 38px;
  z-index: 3;
  position: absolute;
  bottom: 10%;
  left:50%;
  margin-left:-24px;
  -webkit-animation:ani_right 1.2s ease-in 0s infinite;
}

.loading-page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  background: #000;
}

/*-----------------------------loading-------------------------------------*/
.show {
  z-index: 99999;
  visibility: visible!important;
  position: absolute;
  top:0px;
}

.loading-page{position: absolute;width: 100%;height: 100%;left: 0;top: 0;visibility: hidden;background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/p1_bg.jpg) no-repeat 0 0/100% 100%;}
.loading-pag_bg{position: absolute;width: 100%;height: 100%;left: 0;top: 0;visibility: visible!important;}
.loading-pag_bg .loading_bg_1{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background-size:100%;opacity: 1;}
.loading-pag_bg .loading_bg_2{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background-size:100%;opacity: 0;}
.loading-page .bg{width: 100%;position: absolute;top:0%;left:0}
.loading-page .bg img{width: 100%;}
.loading-page .bg .zz{-webkit-animation:load-bz 15s linear infinite;opacity: 0;}
.loading-page .bg .fz{position: absolute;top:0;-webkit-animation:load-bf 25s linear infinite;opacity: 0;}
.progress{width: 100%;top: 75%;text-align: center;font:normal 22px/30px "Microsoft YaHei";margin-top:0px;color:#fff}

.zwf{width: 100%;height: 0.83rem;}

.pic28{position: absolute; top: 0px; z-index: 99; left: 0px; display: block; width: 100%;visibility: hidden;}
h3.lo_txt{font-size: 22px;text-align: center;color: #fff;font-family: 'Microsoft YaHei';}


@-webkit-keyframes ani_right{
  0% { opacity: 0;  -webkit-transform: translateY(4px);}
  40% { opacity: 1;-webkit-transform: translateY(4px);}
  100% { opacity: 0;-webkit-transform: translateY(4px);}
}
.showTop{z-index:999}
.main{width: 100%;height: 100%;overflow: hidden;position: absolute;z-index:99;}
.main ul{width: 100%;height: 100%;position: relative;overflow: hidden;}
.main ul li{width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 2;display: none;}
.main ul li.p1,.main ul li.p2{background-size: 100% ;}
.main ul li.block{display: block;}
.main ul li:first-child{top: 0;}
.selected *{-webkit-animation-fill-mode:both!important;}
.logo{position:absolute;top:0;left:0}
/* p0  */

@-webkit-keyframes huadong {
    0% {background-position:0 0;}
	100% {background-position:0 -5280px }
}
.page2 .loadword{
    position: absolute;
    top:35%;
    width: 100%;
    text-align: center;

}
.page2 .translate{
    -webkit-animation:change 2s linear infinite;
}
@-webkit-keyframes  change{
    0%{ transform:rotate(0deg); }
    100%{ transform:rotate(360deg); }
}
/*　　50{-webkit-transform:rotate(180deg);}*/

/*　　100{-webkit-transform:rotate(360deg);}*/


.page2 .loadword img{
    position: relative;
    width: 100%;
}

.page2 .loadword p{
    position: relative;
    display: inline-block;
    line-height: 24px;
    height: 24px;
    font-size: 18px;
    color: #f5f5f5;
    margin-top: 5px;
}

/* p1  */
.p2 .box,.p3 .box{position:absolute; width:100%; height:840px; left:0; top:25%;}
.p1 .box{position:absolute; width:100%;top:4rem;text-align: center;}
.p1 .box img.p1_txt1{width: 5.5rem;}
.p1 .box img.p1_txt2{width: 6rem;}
.but{width: 5.7rem;margin:0 auto;height: 108px;margin-top: 0.78rem;position: absolute;margin-left: 0.5rem;bottom: 0.5rem;z-index: 90;}
.but span{width: 153px;height: 100%;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat 0 0;display: block;position: absolute;}
.but span.gz{background-position: 0 0;left: 0;}
.but span.zc{background-position: -167px 0;left: 133px;}
.but span.dz{background-position: -334px 0;left: 266px;}
.but span.hb{background-position: -501px 0;left: 399px;}

.but span.gz.nav{background-position: 0 -136px;}
.but span.zc.nav{background-position: -167px -136px;}
.but span.dz.nav{background-position: -334px -136px;}
.but span.hb.nav{background-position: -501px -136px;}

.gzsm{width: 7.2rem;height: 7.21rem;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/gz_bg.png) no-repeat 0 0/100%;position: absolute;z-index: 20;left: 0.17rem;top:2.16rem;display: none;}
.gzsm .gzsm_warp{width: 100%;height: 100%;position: relative;}
.gzsm .gzsm_warp a{width: 0.58rem;height: 0.58rem;position: absolute;top:0px;left: 3.31rem;}
.gzsm .gzsm_warp .gzsm_txt{width: 3.91rem;height: 3.26rem;position: absolute;top:1.95rem;left: 1.68rem;color: #fff;overflow: auto;}
.gzsm .gzsm_warp .gzsm_txt h3{font-size: 24px;line-height: 0.8rem;}
.gzsm .gzsm_warp .gzsm_txt p{font:21px/1.34 'Microsoft Yahei';margin-bottom: 0.2rem;}
.gzsm2{width: 5.49rem;height: 9rem;position: absolute;top:1.2rem;left: 1.15rem;z-index: 100;display: none;}
.gzsm2 .gzsm2_warp{width: 100%;height: 100%;position: relative;}
.gzsm2 .gzsm2_warp a{width: 0.9rem;height: 0.9rem;position: absolute;top:0px;right: 0;z-index: 110;}
.gzsm2 .gzsm2_warp .gzsm_txt2{width: 100%;height: 100%;position: absolute;color: #fff;overflow: auto;}
.gzsm2 .gzsm2_warp .gzsm_txt2 img{width: 5.49rem;}
.blak{width: 100%;height: 100%;background: #000;opacity: .8;position: absolute;top:0;left: 0;display: none;z-index: 6}

.p2 .p2_content{width: 5.69rem;height: 5.23rem;position: relative;top:3.24rem;left: 0.92rem;}
.p2 .p2_content div{position: absolute;width: 2.38rem;height: 4.76rem;}
.p2 .p2_content div img{width: 2.38rem;}
.p2 .p2_content div.hb1{left: 0;}
.p2 .p2_content span{width: 1rem;height: 0.32rem;font-size: 18px;color: #fff;line-height: 0.42rem;display: block;margin:0 auto;display: none;text-align: center;}

.p2 .p2_content div.hb1.curr img{border:1px solid #fff;}
.p2 .p2_content div.hb2{right: 0;}
.p2 .p2_content div.hb2.curr img{border:1px solid #fff;}
.p2 .p2_content div.mban{width: 2.38rem;height: 4.25rem;background: url(http://p1.ifengimg.com/l/2017/13/b3920ff66ab0032/tmm.png);}
.p2 .p2_content div.curr div.mban{display: none;}
.p2 .p2_content div.curr span{display: block;}
.p2 .p2_content a.ok{width: 120px;height: 40px;display: block;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;background-position: 0 -295px;position: absolute;bottom: 0;left: 50%;margin-left: -60px;}
/*注册*/
.p3 .p3_content{width: 6.55rem;height: 5.74rem;position: relative;top:2.56rem;margin:0 auto;}
.p3 .p3_content label{display: inline-block;height: 0.3rem;width: 100%;margin-bottom: 0.5rem;}
.p3 .p3_content label span{width: 1.42rem;display: inline-block;height: 0.45rem;line-height: 0.45rem;text-align: center;color: #fff;border:2px solid #fff;font-size: 26px;}
.p3 .p3_content label input[type='text']{border:none;outline: none;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/tm.png);width: 4.48rem;height: 0.48rem;line-height: 0.48rem;padding-left: 0.1rem;float: right;font-size: 25px;color: #fff;}
.p3 .p3_content div.blu{overflow: hidden;margin-bottom: 0.31rem;}
.p3 .p3_content span.myPt{float: left;width: 1.42rem;display: inline-block;height: 0.45rem;line-height: 0.45rem;text-align: center;color: #fff;border:2px solid #fff;font-size: 26px;}
.add-list{width: 107px;height: 134px;overflow: hidden;float: left;margin-left: 0.47rem;position: relative;}
.add-list .loding{width: 107px;height: 134px;position: relative;background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/loding.jpg) no-repeat;display: none;}
.add-list .loding img{top:0.15rem;position: absolute;left: 0.2rem;-webkit-animation: change 2s linear infinite;}
.p3 .p3_content div.item,.p3 .p3_content div.item2{width: 107px;height: 134px;position: absolute;text-align: center;}
.p3 .p3_content div.item input{position: absolute;top:0;left: 0;}
.p3 .p3_content div.add{background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/ipt.png) no-repeat;}
.p3 .p3_content div.item img,.p3 .p3_content div.item2 img{height: 134px;}
#add-img {
  opacity: 0;
  z-index: 5;
  width: 107px;height: 134px;
  filter: alpha(opacity=0);
}
.p3 .p3_content .testimony {float: left;margin-left: 0.45rem;}
.p3 .p3_content .testimony textarea{border:none;outline: none;background:  url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/tm.png);width: 4.48rem;height: 0.99rem;color: #fff;font-size: 25px;padding-left: 0.1rem;font-family: 'Microsoft Yahei';}


.p3 .p3_content a.sc_phto{width: 120px;height: 40px;display: block;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;background-position: 0 -295px;position: absolute;bottom: 0.1rem;left: 50%;margin-left: -60px;}

/*生成海报页*/
.p4 .p4_top{width: 3.85rem;height: 0.74rem;margin:1.2rem 0 0.42rem 0.8rem;}
.p4 .p4_top h3.name{font-size: 30px;color: #fff;float: left;}
.p4 .p4_top p.num{font-size: 30px;color: #fff;font-weight: bold;float: right;width: 1.31rem;text-align: center;}
.p4 .p4_content{width: 5.4rem;height: 6.29rem;position: relative;margin:0 auto;}
.p4 .p4_content img.dddd{position: absolute;right: 0rem;top:1.8rem;width: 2.4rem;z-index: 3;-webkit-animation: ani_right 1.5s ease-in 0s infinite;}
.p4 .p4_content img.dddd{ 
-webkit-transform:scale(1) rotate(-50deg); 
-moz-transform:scale(1) rotate(-30deg); 
-o-transform:scale(1) rotate(-30deg); 
}
.p4 .p4_content .p4_left{width: 3.59rem;height: 6.29rem;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/line.png) no-repeat 0 0/100%;position: absolute;left: 0;}
.p4 .p4_content .p4_left .frame_pic{width: 3.22rem;position: absolute;top:0.2rem;left: 0.18rem;height: 5.79rem;}
.p4 .p4_content .p4_right{width: 1.6rem;height: 1.51rem;position: absolute;right: 0;bottom: 0;}
.p4 .p4_content .p4_right a.fx{width: 158px;height: 49px;display: block;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;background-position: -500px -294px;margin-bottom: 0.3rem;}
.p4 .p4_content .p4_right a.cj{width: 158px;height: 49px;display: block;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;background-position: -689px -294px;}
/*模板*/
.p5 .p5_mb{width: 100%;height: 100%;position: absolute;z-index: 5;}
.p5 img.picture{/*height: 9.02rem;*/position: absolute;top:0;z-index: 2;width: 100%;}
.p5 img.pit{width: 6.04rem;/*height: 6.5rem;*/top:1.58rem;left: 0.7rem;}
.p5 .p5_txt{width: 5.77rem;height: 1.66rem;padding-top: 8.1rem;margin:0 auto;position: relative;z-index: 6;}
.p5 .p5_txt p.txt_top{width: 100%;font:28px/1.38 'Microsoft Yahei';color: #264197;font-weight: bold;text-align: center;margin-bottom: 0.20rem;}
.mb1_wz{position: absolute;bottom: 0.4rem;display: block;}
.p5 .p5_txt p.txt_name{width: 5.04rem;height: 0.61rem;margin:0 auto;padding-left: 1rem;line-height: 0.4rem;}
.p5 .p5_txt p.txt_name i{font-size: 26px;font-family: 'Microsoft Yahei';color: #264197;text-align: center;width: 1.8rem;display: block;}
.p5 .p5_txt2{padding-top: 8.8rem;}
.p5 .p5_txt3{padding-top: 8rem!important;}
.p5 .p5_txt2 p.txt_top{color: #fff;}
.p5 .p5_txt2 p.txt_name{padding-left: 1.6rem;width: 4.54rem;line-height: 0.35rem;}
.p5 .p5_txt2 p.txt_name i{color: #fff;}
.lw_name{position: absolute;color: #000;font-family: 'Microsoft Yahei';font-size: 26px;top:7.2rem;right: 0rem;display: none;}
.mb2_wz{position: absolute;bottom: 0.4rem;display: none;width: 6.4rem;}
.p5 .p5_txt2 .mb1_wz{display: none;}
.p5 .p5_txt2 .mb2_wz{display: block;}
/*围观*/
.p6 .p6_content{width: 6.39rem;margin:0 auto;padding-top: 1rem;}
.p6 .p6_content .p6_top{overflow: hidden;margin-bottom: 0.5rem;}
.p6 .p6_content .p6_top label{width: 100%;overflow: hidden;}
.p6 .p6_content .p6_top select{width: 1.81rem;height: 0.5rem;line-height: 0.5rem;text-align: center;font-size: 24px;color: #05398e;float: left;margin-right: 0.26rem;}
.p6 .p6_content .p6_top input{border:none;outline: none;text-align: center;height: 0.55rem;line-height: 0.5rem;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/tm.png);float: left;font-size: 24px;color: #fff;width: 2.43rem;margin-right: 0.25rem;}
.p6 .p6_content .p6_top a.sosuo{width: 134px;height: 47px;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;background-position: -155px -370px;display: block;float: left;}
.p6 .p6_content .p6_warp{overflow: hidden;margin-left: 0.18rem;}
.p6 .p6_content .p6_center{width: 6.39rem;height: 5.34rem;}
.p6 .p6_content .p6_center .center_nei{float: left;margin-right: 0.25rem;width: 2.87rem;height: 5.4rem;position: relative;}
.p6 .p6_content .p6_center .center_nei .img_warp{
  width: 2.87rem;height: 4.33rem;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/tm.png);position: relative;
}
.p6 .p6_content .p6_center .center_nei .img_warp .photo{width: 2.28rem;height: 4.05rem;position: absolute;top:0.15rem;left: 0.3rem;}
.p6 .p6_content .p6_center .center_nei .nei_txt{height: 0.94rem;position: absolute;bottom: 0;width: 100%;}
.nei_left{float: left;}
.nei_right{float: right;}
.center_nei .nei_txt .nei_txt_left{width: 2.03rem;float: left;height: 100%;}
.center_nei .nei_txt p.p_name{width: 2.03rem;height: 0.33rem;border:1px solid #fff;text-align: center;line-height: 0.33rem;font-size: 24px;color: #fff;margin-bottom: 0.2rem;}
.center_nei .nei_txt p.p_num{font-size: 24px;height: 0.33rem;border:1px solid #fff;line-height: 0.33rem;color: #fff;text-align: center;}
.center_nei .nei_txt .nei_txt_right{float: right;height: 100%;}
.center_nei .nei_txt .nei_txt_right a.xin{width: 67px;height: 55px;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;background-position: -58px -379px;display: block;-webkit-animation: 2s fadeOutUp ease-in-out infinite; -moz-animation: 2s fadeOutUp ease-in-out infinite;}

.p6 .center_nei2{width: 4.29rem;height: 7.46rem;margin:0 auto;background: url(http://p1.ifengimg.com/l/2017/13/b3920ff66ab0032/tm2.png);position: relative;}
.p6 .center_nei2 .img_warp{
  width: 3.5rem;height: 7.46rem;position:absolute;top:0.15rem;left: 0.39rem;
}
.p6 .center_nei2 .img_warp .photo{width: 3.5rem;height: 6.23rem;position: absolute;top:0;}
.p6 .center_nei2 .nei_txt{height: 0.94rem;position: absolute;bottom: 0.1rem;width: 100%;}
.center_nei2 .nei_txt .nei_txt_left{width: 2.03rem;float: left;height: 100%;margin-left: 0.2rem;}
.center_nei2 .nei_txt p.p_name{width: 2.03rem;height: 0.33rem;border:1px solid #fff;text-align: center;line-height: 0.33rem;font-size: 24px;color: #fff;margin-bottom: 0.15rem;}
.center_nei2 .nei_txt p.p_num{font-size: 24px;height: 0.33rem;border:1px solid #fff;line-height: 0.33rem;color: #fff;text-align: center;}
.center_nei2 .nei_txt .nei_txt_right{float: right;height: 100%;}
.center_nei2 .nei_txt .nei_txt_right a.xin{width: 67px;height: 55px;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;background-position: -58px -379px;display: block;-webkit-animation: 2s fadeOutUp ease-in-out infinite; -moz-animation: 2s fadeOutUp ease-in-out infinite;}
.center_nei2 .nei_txt .nei_txt_right span.num{width: 67px;height: 30px;display: block;text-align: center;color: #fff;font-size: 24px;position: absolute;bottom: 0.03rem;}

@-webkit-keyframes fadeOutUp{
    0%{opacity:1;-webkit-transform:translateY(0px);transform:translateY(0px)}
    50%{opacity:0.5;-webkit-transform:translateY(-10px);transform:translateY(-10px)}
}
@keyframes fadeOutUp{
    0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    50%{opacity:0.5;-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
}
.center_nei .nei_txt .nei_txt_right span.num{width: 67px;height: 30px;display: block;text-align: center;color: #fff;font-size: 24px;position: absolute;bottom: 0.03rem;}
.p6_but{width: 4.22rem;height: 0.44rem;position: relative;margin:0 auto;margin-top: 0.5rem;}
.p6_but a{width: 133px;height: 40px;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;display: block;position: absolute;}
.p6_but a.but_left{background-position: -324px -370px;left: 0;}
.p6_but a.but_right{background-position: -495px -369px;right: 0;}
.p6_top .bihao{width: 1.81rem; height: 0.5rem; color: #fff; margin-right: .26rem; font-size: 24px; display: inline-block; float: left; border: 2px solid #fff; text-align: center;line-height: 0.5rem;}

/*模板1*/
.center_nei .p8_mb{width: 2.28rem; height: 4.05rem; position: absolute; top: 0.15rem; left: 0.3rem;z-index: 5;}

.center_nei img.picture2{width: 2.28rem;/*height: 2.82rem;*/ position: absolute; top: 0; z-index: 2; top: 0.15rem; left: 0.3rem;}
.center_nei .p8_txt{width: 1.71rem;/*height: 1.66rem;*/padding-top: 2.81rem;margin:0 auto;position: relative;z-index: 6;}
.center_nei .p8_txt p.txt_top{font:10px/1.38 'Microsoft Yahei';color: #264197;font-weight: bold;text-align: center;margin-bottom: 0.08rem;}
.center_nei .p8_txt p.txt_name{width: 1.44rem; height: 0.19rem; margin: 0 auto; padding-left: 0.28rem; line-height: 0.4rem;background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/mb1_txt.png) no-repeat 0 0/100%;}
.center_nei .p8_txt p.txt_name i{font-size: 10px; font-family: 'Microsoft Yahei'; color: #264197; text-align: center; width: 0.6rem; display: block;  line-height: 0.05rem;}
.center_nei .p8_txt .lw_name2{display: none;}
/*模板2*/
.center_nei img.pit2{width: 2.28rem;/*height: 2.5rem;*/top:0.15rem;left: 0.3rem;}
.center_nei .p8_txt2{padding-top: 3.12rem;}
.center_nei .p8_txt2 p.txt_top{color: #fff;}
.center_nei .p8_txt2 p.txt_name{width: 1.44rem; height: 0.19rem;padding-left: 0.4rem;background: url(http://p1.ifengimg.com/l/2017/13/b3920ff66ab0032/mb2_txt.png) no-repeat 0 0/100%;line-height: 0.4rem;}
.center_nei .p8_txt2 p.txt_name i{color: #fff;}
.center_nei .p8_txt2 .lw_name2{position: absolute; color: #000; font-family: 'Microsoft Yahei'; font-size: 10px; top: 2.5rem; right: 0rem; display: block;}

.center_nei2 .img_warp .p8_mb{width: 3.5rem; height: 6.23rem; position: absolute; top: 0;z-index: 3;}
.center_nei2 .img_warp .picture2{width: 3.5rem; height: 4.23rem; position: absolute; top: 0;z-index: 2;}
.center_nei2 .img_warp .p8_txt{width: 2.8rem; /* height: 1.66rem; */ padding-top: 4.15rem; margin: 0 auto; position: relative; z-index: 6;}
.center_nei2 .img_warp .p8_txt .txt_top{font: 13px/1.5 'Microsoft Yahei';
  color: #264197;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.15rem;}
.center_nei2 .p8_txt p.txt_name{width: 2.44rem;
  height: 0.19rem;
  margin: 0 auto;
  padding-left: 0.5rem;
  line-height: 0.4rem;
  background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/mb1_txt.png) no-repeat 0 0/100%;}
.center_nei2 .p8_txt p.txt_name i{font-size: 16px;
  font-family: 'Microsoft Yahei';
  color: #264197;
  text-align: center;
  width: 0.6rem;
  display: block;
  margin-left: 0.1rem;
  line-height: 0.19rem;}
.center_nei2 .p8_txt .lw_name2{display: none;}

.center_nei2 .img_warp img.pit2{width: 3.5rem;height: 3.7rem;top:0.5rem;left: 0rem;}
.center_nei2 .img_warp .p8_txt2{padding-top: 4.6rem;}
.center_nei2 .img_warp .p8_txt2 p.txt_top{color: #fff;}
.center_nei2 .img_warp .p8_txt2 p.txt_name{width: 2.44rem; height: 0.19rem;padding-left: 0.6rem;background: url(http://p1.ifengimg.com/l/2017/13/b3920ff66ab0032/mb2_txt.png) no-repeat 0 0/100%;line-height: 0.4rem;}
.center_nei2 .img_warp .p8_txt2 p.txt_name i{color: #fff;margin-left: 0.15rem;}
.center_nei2 .img_warp .p8_txt2 .lw_name2{position: absolute; color: #000; font-family: 'Microsoft Yahei'; font-size: 16px; top: 3.65rem; right: 0rem; display: block;}
.center_nei2 .close{position: absolute;top:0px;right: 0px;z-index: 9;}
.center_nei2 .close img{width: 0.5rem;}
.p6_center .close{display: none;}
.cp_iocn{width: 3rem;position: absolute;left: 2.4rem;bottom: 2.4rem;z-index: 5}
/*分享页*/
.fxy{width: 100%;height: 100%;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/fx.png) no-repeat 0 0/100%;position: absolute;top:0;z-index: 99;display: none;}
/*转盘*/
.turntable{width: 4.73rem;height: 7rem;position: absolute;top:1.4rem;z-index: 9;left: 1.31rem;}
.turn_warp{width: 4.73rem;height: 4.88rem;position: relative;background: #2e2e4b;margin-bottom: 0.1rem;}
#turnplatewrapper{width: 3.92rem;height: 3.92rem;overflow: hidden;background: url(http://p1.ifengimg.com/l/2017/13/b3920ff66ab0032/plate_06.png) no-repeat 0 0/100% 100%;position: absolute;top:0.49rem;left: 0.4rem;}
#turnplate{width: 3.92rem;height: 3.92rem;overflow: hidden;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/plate_05.png) no-repeat 0 0/100%;position: absolute;}
#turnplate #awards{width: 3.92rem;height: 3.92rem;overflow: hidden;background: url(http://p0.ifengimg.com/968d479714a706e2/2017/15/plate_33.png) no-repeat 0 0/100% 100%;position: absolute;}
#platebtn{width: 3.92rem;height: 3.92rem;overflow: hidden;background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/plate_04.png) no-repeat 0 0/100% 100%;position: absolute;}

.turn_num{width: 4.73rem;height: 2.07rem;background: #2e2e4b;overflow: auto;}
.turn_num h3{font-size: 24px;font-family: 'Microsoft Yahei'; color: #fff; text-align: center; padding: 0.13rem 0 0.1rem;}
.turn_num dl{width: 3.8rem;height: 1.35rem;overflow: auto;margin:0 auto;}
.turn_num dl dd{font-size: 21px;font-family: 'Microsoft Yahei';color: #fff;text-align: left;line-height: 0.4rem;}
.turn_num dl dd b{float: right;}

.turn_warp a.zp_close{width: 0.41rem;height: 0.41rem;background: url(http://p1.ifengimg.com/l/2017/13/b3920ff66ab0032/close.png) no-repeat 0 0/100% 100%;position: absolute;top:0;right: 0;z-index: 9;}
.sc_but{width: 2.32rem;height: 0.78rem;position: absolute;z-index: 10;top:3.95rem;left: 2.57rem;display: none;}
.sc_but img{width: 2.32rem;}
.sc_but{-webkit-animation: bounceInDown 1s 0.2s ease both;
  -moz-animation: bounceInDown 0.2s 0.2s ease both;}
.sc_but {
  -webkit-animation: bounceInDown 1s 0.2s ease both;
  -moz-animation: bounceInDown 0.2s 0.2s ease both;
}


@-webkit-keyframes bounceInDown{
    0%{opacity:0;-webkit-transform:translateY(-2000px)}
    60%{opacity:1;-webkit-transform:translateY(30px)}
    80%{-webkit-transform:translateY(-10px)}
    100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes bounceInDown{
    0%{opacity:0;-moz-transform:translateY(-2000px)}
    60%{opacity:1;-moz-transform:translateY(30px)}
    80%{-moz-transform:translateY(-10px)}
    100%{-moz-transform:translateY(0)}
}
/*输入信息*/
.xinx{width: 7.18rem;height: 7.18rem;background: url(http://p2.ifengimg.com/l/2017/13/b3920ff66ab0032/xx.png) no-repeat 0 0/100%;position: absolute;top:2.16rem;left: 0.14rem;z-index: 5;display: none;}
.xinx .xinx_warp{width: 100%;height: 100%;position: relative;}
.xinx .xinx_warp .xinx_01{width: 4.06rem;height: 2.28rem;position: absolute;top:2.64rem;left: 1.56rem;}
.xinx .xinx_warp .xinx_01 label{display: block;width: 100%;overflow: hidden;margin-bottom: 0.5rem;}
.xinx .xinx_warp .xinx_01 label span{font-size: 24px;border:1px solid #fff;text-align: center;line-height: 0.34rem;height: 0.34rem;width: 0.74rem;float: left;color: #fff;}
.xinx .xinx_warp .xinx_01 label input{border:none;outline: none;text-align: center;height: 0.34rem;line-height: 0.34rem;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/tm.png);float: left;font-size: 24px;color: #fff;width: 3rem;float: right;}
.xinx .xinx_warp .xinx_colse{width: 0.58rem;height: 0.58rem;position: absolute;top:0;left: 3.3rem;}
.xinx .xinx_sub{width: 1.39rem;height: 0.46rem;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/sub.png) no-repeat 0 0/100%;display: block;margin:0 auto;}

/*晋级海报*/
.p7 .p7_content{width: 4.52rem;height: 6.8rem;margin:0 auto;margin-top: 1.8rem;position: relative;}
.p7 .p7_content .p7_warp{width: 4.52rem;height: 5.88rem;position: absolute;top:0;}
.p7_content .p7_warp a{width: 0.3rem;height: 0.5rem;position: absolute;top:1.84rem;}
.p7_content .p7_warp a.p7_left{background: url(http://p1.ifengimg.com/l/2017/13/b3920ff66ab0032/js_left.png) no-repeat 0 0/100%;left: 0;}
.p7_content .p7_warp a.p7_right{background: url(http://p1.ifengimg.com/l/2017/13/b3920ff66ab0032/js_right.png) no-repeat 0 0/100%;right: 0;}
.p7_content .p7_warp .rwconter{width: 3.18rem;height: 6.2rem;position: relative;margin:0 auto;}
.p7_content .p7_warp .rwconter .rwnei{}
.p7_content .p7_warp .rwconter .rwnei .rwtu{width: 3.18rem;height: 5.88rem;}
.p7_warp .rwconter .rwnei .rwtu img{/* width: 2.5rem; */height: 4.43rem;display: block;margin:0 auto;margin-bottom: 0.3rem;}
.p7_warp .rwconter .nei_txt_left{width: 100%;}
.p7_warp .rwconter .nei_txt_left .l_t{overflow: hidden;}
.p7_warp .rwconter p.p_name{width: 2.03rem;height: 0.33rem;text-align: center;line-height: 0.33rem;font-size: 24px;color: #fff;margin-bottom: 0.2rem;background: url(http://p0.ifengimg.com/l/2017/13/b3920ff66ab0032/tm.png);float: right;}
.p7_warp .rwconter .l_t span{width: 0.78rem;height: 0.36rem;border:1px solid #fff;line-height: 0.36rem;display: inline-block;color: #fff;font-size: 24px;margin-right: 0.1rem;text-align: center;float: left;}
.p7_warp .rwconter p.p_num{font-size: 24px;height: 0.33rem;border:1px solid #fff;line-height: 0.33rem;color: #fff;text-align: center;float: right;}
.p7_warp .pagination{position: absolute; bottom: 0; left: 50%;width: 2.7rem;margin-left: -1.3rem;}
.p7_warp .swiper-pagination-switch{width: 19px; height: 32px; background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat; background-position: 0 -377px; display: block; float: left;margin-right: 0.1rem;}
.p7_warp .swiper-active-switch{background-position: -25px -377px;}
.p7_content .p7_but{width: 100%;height: 0.48rem;position: absolute;bottom: 0;overflow: hidden;}
.p7_content .p7_but a{width: 134px;height: 40px;background: url(http://p3.ifengimg.com/l/2017/13/b3920ff66ab0032/nav.png) no-repeat;}
.p7_content .p7_but a.p7b_l{background-position: -155px -296px;float: left;}
.p7_content .p7_but a.p7b_r{background-position: -324px -296px;float: right;}




